# Sh
alias reload="source ~/.zshrc"
alias editaliases="vim ~/.aliases"
alias nvimconfig='nvim ~/.config/nvim'

# Tmux
alias tmuxconfig='nvim ~/.tmux.conf'
alias startdev='tmux new -s dev'
alias dev='tmux a -t dev'

# Handy
alias c='clear'
alias vim='$(which nvim)'
alias v='vim'

# Tools
alias uuidgen='uuidgen | tr "[:upper:]" "[:lower:]"'
alias uuidcopy='uuidgen | pbcopy'



# Git
alias gpu='git push origin'
alias gs='git status'
alias gapan='git add --intent-to-add . && git add --patch'
alias gapanp='git add --intent-to-add . && git add --patch && gpu'
alias gaman='git add --intent-to-add . && git commit -p'
alias gamanp='git add --intent-to-add . && git commit -p && gpu'
alias gafix='git add --intent-to-add . && git commit -p -m "fix: various fixes"'
alias gafixp='gafix && gpu'
alias gasrc='gapan src'

# Specifics
alias kill3009='lsof -i tcp:3009 -t | xargs kill'

