alias zshcustom="vim $ZSH_CUSTOM"
alias custom="vim $ZSH_CUSTOM"

alias reload="source $ZSH_CUSTOM/zshrc.zsh"

alias zshrc="v $ZSH_CUSTOM/zshrc.zsh"

alias editaliases="vim $ZSH_CUSTOM/.aliases"
alias editenv="vim $ZSH_CUSTOM/.env"
alias editfunctions="vim $ZSH_CUSTOM/.functions"

# git add -p with unstaged files
alias gs='git status'
alias gpu='git push origin'
alias gapan='git add --intent-to-add . && git add --patch'
alias gapanp='git add --intent-to-add . && git add --patch && gpu'
alias gaman='git add --intent-to-add . && git commit -p'
alias gamanp='git add --intent-to-add . && git commit -p && gpu'
alias gafix='git add --intent-to-add . && git commit -p -m "fix: various fixes"'
alias gafixp='gafix && gpu'
alias galint='git commit -p -m "fix: lint"'
alias galintp='galint && gpu'
alias gasrc='gapan src'

alias kill3009='lsof -i tcp:3009 -t | xargs kill'

alias 1662='ssh debian@166220thave.com'

alias jwt="(yarn --silent --cwd ~/Projects/engagement-api dev:jwt --silent | tail -1 | tr -d '\n' | pbcopy)"


alias awsconnect='aws sso login --sso-session central'

alias uuidgen='uuidgen | tr "[:upper:]" "[:lower:]"'
alias copuuid='uuidgen | pbcopy'

alias c='clear'

alias vim='$(which nvim)'
alias v='vim'
alias dev='tmux a -t dev'
alias startdev='tmux new -s dev'
alias tmuxkillall='tmux ls -F "#S" | xargs -n 1 tmux kill-session -t'
alias nvimconfig='nvim ~/.config/nvim'
alias tmuxconfig='nvim ~/.tmux.conf'

zle -N tmux_sessionizer
bindkey '^P' tmux_sessionizer

zle -N fzistory
bindkey '^R' fzistory
bindkey '^F' history-incremental-pattern-search-backward


# ######## SWILE ########

# Reconfigure 'default' aliases
alias tunnel-staging="kubectl config use-context arn:aws:eks:eu-west-3:607565025904:cluster/general-staging && ssm-tunnel 10.35.0.0/16"
alias tunnel-production="kubectl config use-context arn:aws:eks:eu-west-3:382906469911:cluster/general-production && ssm-tunnel 10.33.0.0/16"

# SSH with SSM
alias aws-list-ec2-instances='aws ec2 describe-instances --query '\''Reservations[*].Instances[*].[Tags[?Key==`Name`].Value|[0],InstanceId]'\'' --output text | awk '\''{ print $1 " = " $2 }'\'' | grep -v "karpenter"'
alias aws-ssh='aws ssm start-session --target'
