# tmux-sessionizer
tmux_sessionizer() {
    tmux-sessionizer
}

# Fuzzy history search
fzistory () {
  cmd=$(history 0 | sort -rn | cut -c 8- | tr "\t" " " | uniq -u | fzf --height=7 --layout=reverse --no-sort)
  zle reset-prompt

  if [ -n "$cmd" ]; then
    zle -U "$cmd"
  fi
}

# ############ SWILE ##########

# Start an ssh base IP tunnel to a target CIDR
# ssm-tunnel <cidr> <aws-profile?> <aws-region?> <tier?>
function ssm-tunnel() {
  local targetCidr="${1}"
  awsArgs=(--profile ${2:-central-network} --region ${3:-eu-west-3} --output json)
  local tier=${4:-Human}

  # Instance selection
  local bastionInstances=$(aws autoscaling describe-auto-scaling-groups ${awsArgs[@]} --filters Name=tag:Role,Values=bastion Name=tag:Tier,Values=${tier} | grep -v 'AWS token' | jq -r '.AutoScalingGroups[] | .Instances[] | select(.LifecycleState == "InService" and .HealthStatus == "Healthy") | .InstanceId')
  if [[ -z "${bastionInstances}" ]]; then
    echo "No Bastion instances available"
    return 2
  fi
  # Round robin bastion selection
  selectedBastionInstance="$(echo "${bastionInstances}" | shuf | head -n 1)"
  echo "Selected bastion : '${selectedBastionInstance}'"
	reason="${RANDOM}"
  
  function cleanup() {
    ssmSessionId=$(aws ssm describe-sessions ${awsArgs[@]} --state Active --filters key=Target,value=${selectedBastionInstance} key=Status,value=Connected | \
			grep -v 'AWS token' | \
      jq -r ".Sessions[] | select(.Reason == \"${reason}\") | .SessionId")

    if [[ -n "${ssmSessionId}" ]]; then
      echo "Terminating SSM Session ${ssmSessionId} on ${selectedBastionInstance} for ${reason}..."
      aws ssm terminate-session ${awsArgs[@]} --session-id ${ssmSessionId}
    fi
  }
  trap cleanup EXIT

  sshuttle -e 'ssh -o CheckHostIP=no -o AddressFamily=inet -o GSSAPIAuthentication=no -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ServerAliveInterval=60 -o ProxyCommand='\''bash -c "aws ssm start-session --profile='${2:-central-network}' --region '${3:-eu-west-3}' --target %h --document-name SSM-StartSSHSession --reason '${reason}' --parameters '\''portNumber=%p'\''" '\''' --dns -r ec2-user@${selectedBastionInstance} ${targetCidr} 172.16.0.0/12
}

[ -s "$HOMEBREW_PREFIX/opt/nvm/nvm.sh" ] && \. "$HOMEBREW_PREFIX/opt/nvm/nvm.sh" # This loads nvm
    [ -s "$HOMEBREW_PREFIX/opt/nvm/etc/bash_completion.d/nvm" ] && \. "$HOMEBREW_PREFIX/opt/nvm/etc/bash_completion.d/nvm" # This loads nvm bash_completion

# Poticha tweak bimpliswitch
# Define the function to run the SQL queries
function poticha() {
    # Define the queries and their labels
    local queries=(
        "directory:psql -U directory_rw_user -d directory -h identity.cluster-cceippir44p8.eu-west-3.rds.amazonaws.com -c \"UPDATE users SET invitation_confirmed_at = NULL WHERE uuid = '99f34212-5083-42d7-8f8b-f6a5f1354714'\""
        "invitations:psql -U invitations_rw_user -d invitations -h employee.cluster-cceippir44p8.eu-west-3.rds.amazonaws.com -c \"UPDATE invitations SET status = 'CREATED', confirmed_at = NULL WHERE id = 'a15c3ea9-1557-4d27-af64-e46e39aad127'\""
        "corpo-core:psql -U corporate-core_rw_user -d corporate_core -h corporate.cluster-cceippir44p8.eu-west-3.rds.amazonaws.com -c \"UPDATE bimpli_switch_migrations SET step = 'ONBOARD_ADMIN' WHERE id = 'd72f3d13-7787-4a80-8572-c91fad1df2b0'\""
    )

    # Run each query and check the status
    for entry in "${queries[@]}"; do
        # Split the entry into label and query
        local label="${entry%%:*}"
        local query="${entry#*:}"
        
        echo "Running query: $label"
        eval $query

        if [ $? -eq 0 ]; then
            echo "Query succeeded"
        else
            echo "Query failed"
        fi
    done
}
